<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.helloworld">

    <permission
        android:name="START_SERVICE"
        android:protectionLevel="signature" />
    <permission
        android:name="ACCESS_CHAT_SERVICE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.helloworld.ACCESS_CHAT_SERVICE" />
    <uses-permission android:name="com.helloworld.START_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/BootTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".HoodChatService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false"
            android:label="Notification"
            android:process=":remote"
            android:permission="ACCESS_CHAT_SERVICE" />
        <receiver
            android:name=".service_manager.AutoStart"
            android:permission="com.helloworld.START_SERVICE"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.helloworld.Start" />
            </intent-filter>
        </receiver>
        <!-- this still not working -->
        <receiver
            android:name=".service_manager.LocalReceiver"
            android:permission="com.helloworld.START_SERVICE"
            android:enabled="true"
            android:exported="true">
        </receiver>
    </application>
</manifest>
